In [47]:
import pandas as pd

In [48]:
year_lst = list(range(2009, 2020))

In [49]:
csv_lst = []
for num in year_lst:
    csv_lst.append('data/{}_Update.csv'.format(num))
csv_lst

['data/2009_Update.csv',
 'data/2010_Update.csv',
 'data/2011_Update.csv',
 'data/2012_Update.csv',
 'data/2013_Update.csv',
 'data/2014_Update.csv',
 'data/2015_Update.csv',
 'data/2016_Update.csv',
 'data/2017_Update.csv',
 'data/2018_Update.csv',
 'data/2019_Update.csv']

In [50]:
def split_playoff_tables(lst):
    no_playoff = []
    playoff = []
    for i in lst:
        df = pd.read_csv(i)
        filtered = df[['year', 'Team', 'Pts/G', 'Yds/G', 'Playoff']]
        playoff_tb = filtered.loc[lambda filtered: filtered['Playoff'] == True]
        no_playoff_tb = filtered.loc[lambda filtered: filtered['Playoff'] == False]
        playoff.append(playoff_tb)
        no_playoff.append(no_playoff_tb)
    return playoff, no_playoff

In [52]:
yearly_splits = split_playoff_tables(csv_lst)

In [59]:
yearly_splits[0][0]

    year                             Team  Pts/G  Yds/G  Playoff
1   2009       Green Bay PackersGreen Bay   18.6  284.4     True
2   2009        Baltimore RavensBaltimore   16.3  300.5     True
3   2009     Cincinnati BengalsCincinnati   18.2  301.4     True
4   2009    Pittsburgh SteelersPittsburgh   20.2  305.3     True
8   2009             Dallas CowboysDallas   15.6  315.9     True
9   2009    Washington RedskinsWashington   21.0  319.7     True
11  2009  Philadelphia EaglesPhiladelphia   21.1  321.1     True
13  2009         New York GiantsNY Giants   26.7  324.9     True
15  2009      San Diego ChargersSan Diego   20.0  327.0     True
19  2009         Arizona CardinalsArizona   20.3  346.4     True
24  2009    New Orleans SaintsNew Orleans   21.3  357.8     True
26  2009    Tampa Bay BuccaneersTampa Bay   25.0  365.6     True

In [60]:
yearly_splits[1][0]

    year                              Team  Pts/G  Yds/G  Playoff
0   2009              New York JetsNY Jets   14.8  252.3    False
5   2009        Minnesota VikingsMinnesota   19.5  305.5    False
6   2009              Denver BroncosDenver   20.2  315.0    False
7   2009         Carolina PanthersCarolina   19.2  315.8    False
10  2009   New England PatriotsNew England   17.8  320.2    False
12  2009             Houston TexansHouston   20.8  324.9    False
14  2009  San Francisco 49ersSan Francisco   17.6  326.4    False
16  2009              Chicago BearsChicago   23.4  337.8    False
17  2009    Indianapolis ColtsIndianapolis   19.2  339.2    False
18  2009              Buffalo BillsBuffalo   20.4  340.6    False
20  2009            Atlanta FalconsAtlanta   20.3  348.9    False
21  2009               Miami DolphinsMiami   24.4  349.3    False
22  2009  Jacksonville JaguarsJacksonville   23.8  352.3    False
23  2009           Seattle SeahawksSeattle   24.4  356.4    False
25  2009            Oakland RaidersOakland   23.7  361.9    False
27  2009         Tennessee TitansTennessee   25.1  365.6    False
28  2009           St. Louis RamsSt. Louis   27.2  372.8    False
29  2009     Kansas City ChiefsKansas City   26.5  388.2    False
30  2009         Cleveland BrownsCleveland   23.4  389.3    False
31  2009              Detroit LionsDetroit   30.9  392.1    False