In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df_2009 = pd.read_csv('data/2009.csv')

In [3]:
df_2009.head()

,Team,Gms,Tot Pts,Pts/G,RushYds,RYds/G,PassYds,PYds/G,TotYds,Yds/G,year
0,New York JetsNY Jets,16,236,14.8,1578,98.6,2459,153.7,4037,252.3,2009
1,Green Bay PackersGreen Bay,16,297,18.6,1333,83.3,3218,201.1,4551,284.4,2009
2,Baltimore RavensBaltimore,16,261,16.3,1492,93.2,3316,207.2,4808,300.5,2009
3,Cincinnati BengalsCincinnati,16,291,18.2,1573,98.3,3249,203.1,4822,301.4,2009
4,Pittsburgh SteelersPittsburgh,16,324,20.2,1438,89.9,3447,215.4,4885,305.3,2009

In [18]:
filtered_2009 = df_2009[['Team', 'Gms', 'Pts/G', 'Yds/G']]

In [19]:
filtered_2009

                                Team  Gms  Pts/G  Yds/G
0               New York JetsNY Jets   16   14.8  252.3
1         Green Bay PackersGreen Bay   16   18.6  284.4
2          Baltimore RavensBaltimore   16   16.3  300.5
3       Cincinnati BengalsCincinnati   16   18.2  301.4
4      Pittsburgh SteelersPittsburgh   16   20.2  305.3
5         Minnesota VikingsMinnesota   16   19.5  305.5
6               Denver BroncosDenver   16   20.2  315.0
7          Carolina PanthersCarolina   16   19.2  315.8
8               Dallas CowboysDallas   16   15.6  315.9
9      Washington RedskinsWashington   16   21.0  319.7
10   New England PatriotsNew England   16   17.8  320.2
11   Philadelphia EaglesPhiladelphia   16   21.1  321.1
12             Houston TexansHouston   16   20.8  324.9
13          New York GiantsNY Giants   16   26.7  324.9
14  San Francisco 49ersSan Francisco   16   17.6  326.4
15       San Diego ChargersSan Diego   16   20.0  327.0
16              Chicago BearsChicago   16   23.4  337.8
17    Indianapolis ColtsIndianapolis   16   19.2  339.2
18              Buffalo BillsBuffalo   16   20.4  340.6
19          Arizona CardinalsArizona   16   20.3  346.4
20            Atlanta FalconsAtlanta   16   20.3  348.9
21               Miami DolphinsMiami   16   24.4  349.3
22  Jacksonville JaguarsJacksonville   16   23.8  352.3
23           Seattle SeahawksSeattle   16   24.4  356.4
24     New Orleans SaintsNew Orleans   16   21.3  357.8
25            Oakland RaidersOakland   16   23.7  361.9
26     Tampa Bay BuccaneersTampa Bay   16   25.0  365.6
27         Tennessee TitansTennessee   16   25.1  365.6
28           St. Louis RamsSt. Louis   16   27.2  372.8
29     Kansas City ChiefsKansas City   16   26.5  388.2
30         Cleveland BrownsCleveland   16   23.4  389.3
31              Detroit LionsDetroit   16   30.9  392.1

In [20]:
Playoff = ['True', 'True', 'True', 'True', 'False', 'True', 'False', 'False', 'True', 'False', 'True', 'True', 'False', 'False', 'False', 'True', 'False', 'True', 'False', 'True', 'False', 'False', 'False', 'False', 'True', 'False', 'False', 'False', 'False', 'False', 'False', 'False']

In [21]:
filtered_2009['Playoff'] = Playoff

/Users/davidmcbride/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [22]:
filtered_2009.head(10)

                            Team  Gms  Pts/G  Yds/G Playoff
0           New York JetsNY Jets   16   14.8  252.3    True
1     Green Bay PackersGreen Bay   16   18.6  284.4    True
2      Baltimore RavensBaltimore   16   16.3  300.5    True
3   Cincinnati BengalsCincinnati   16   18.2  301.4    True
4  Pittsburgh SteelersPittsburgh   16   20.2  305.3   False
5     Minnesota VikingsMinnesota   16   19.5  305.5    True
6           Denver BroncosDenver   16   20.2  315.0   False
7      Carolina PanthersCarolina   16   19.2  315.8   False
8           Dallas CowboysDallas   16   15.6  315.9    True
9  Washington RedskinsWashington   16   21.0  319.7   False

In [31]:
Playoff_tb = filtered_2009.loc[lambda filtered_2009: filtered_2009['Playoff'] == 'True']
Playoff_tb

                               Team  Gms  Pts/G  Yds/G Playoff
0              New York JetsNY Jets   16   14.8  252.3    True
1        Green Bay PackersGreen Bay   16   18.6  284.4    True
2         Baltimore RavensBaltimore   16   16.3  300.5    True
3      Cincinnati BengalsCincinnati   16   18.2  301.4    True
5        Minnesota VikingsMinnesota   16   19.5  305.5    True
8              Dallas CowboysDallas   16   15.6  315.9    True
10  New England PatriotsNew England   16   17.8  320.2    True
11  Philadelphia EaglesPhiladelphia   16   21.1  321.1    True
15      San Diego ChargersSan Diego   16   20.0  327.0    True
17   Indianapolis ColtsIndianapolis   16   19.2  339.2    True
19         Arizona CardinalsArizona   16   20.3  346.4    True
24    New Orleans SaintsNew Orleans   16   21.3  357.8    True

In [32]:
no_Playoff_tb = filtered_2009.loc[lambda filtered_2009: filtered_2009['Playoff'] == 'False']
no_Playoff_tb

                                Team  Gms  Pts/G  Yds/G Playoff
4      Pittsburgh SteelersPittsburgh   16   20.2  305.3   False
6               Denver BroncosDenver   16   20.2  315.0   False
7          Carolina PanthersCarolina   16   19.2  315.8   False
9      Washington RedskinsWashington   16   21.0  319.7   False
12             Houston TexansHouston   16   20.8  324.9   False
13          New York GiantsNY Giants   16   26.7  324.9   False
14  San Francisco 49ersSan Francisco   16   17.6  326.4   False
16              Chicago BearsChicago   16   23.4  337.8   False
18              Buffalo BillsBuffalo   16   20.4  340.6   False
20            Atlanta FalconsAtlanta   16   20.3  348.9   False
21               Miami DolphinsMiami   16   24.4  349.3   False
22  Jacksonville JaguarsJacksonville   16   23.8  352.3   False
23           Seattle SeahawksSeattle   16   24.4  356.4   False
25            Oakland RaidersOakland   16   23.7  361.9   False
26     Tampa Bay BuccaneersTampa Bay   16   25.0  365.6   False
27         Tennessee TitansTennessee   16   25.1  365.6   False
28           St. Louis RamsSt. Louis   16   27.2  372.8   False
29     Kansas City ChiefsKansas City   16   26.5  388.2   False
30         Cleveland BrownsCleveland   16   23.4  389.3   False
31              Detroit LionsDetroit   16   30.9  392.1   False