In [1]:
import pandas as pd

In [2]:
year_lst = list(range(2009, 2020))

In [3]:
csv_lst = []
for num in year_lst:
    csv_lst.append('data/{}_Update.csv'.format(num))
csv_lst

['data/2009_Update.csv',
 'data/2010_Update.csv',
 'data/2011_Update.csv',
 'data/2012_Update.csv',
 'data/2013_Update.csv',
 'data/2014_Update.csv',
 'data/2015_Update.csv',
 'data/2016_Update.csv',
 'data/2017_Update.csv',
 'data/2018_Update.csv',
 'data/2019_Update.csv']

In [4]:
def split_playoff_tables(lst):
    no_playoff = []
    playoff = []
    for i in lst:
        df = pd.read_csv(i)
        filtered = df[['year', 'Team', 'Pts/G', 'Yds/G', 'Playoff']]
        playoff_tb = filtered.loc[lambda filtered: filtered['Playoff'] == True]
        no_playoff_tb = filtered.loc[lambda filtered: filtered['Playoff'] == False]
        playoff.append(playoff_tb)
        no_playoff.append(no_playoff_tb)
    return playoff, no_playoff

In [5]:
yearly_splits = split_playoff_tables(csv_lst)

In [6]:
yearly_splits[0][0]

    year                             Team  Pts/G  Yds/G  Playoff
1   2009       Green Bay PackersGreen Bay   18.6  284.4     True
2   2009        Baltimore RavensBaltimore   16.3  300.5     True
3   2009     Cincinnati BengalsCincinnati   18.2  301.4     True
4   2009    Pittsburgh SteelersPittsburgh   20.2  305.3     True
8   2009             Dallas CowboysDallas   15.6  315.9     True
9   2009    Washington RedskinsWashington   21.0  319.7     True
11  2009  Philadelphia EaglesPhiladelphia   21.1  321.1     True
13  2009         New York GiantsNY Giants   26.7  324.9     True
15  2009      San Diego ChargersSan Diego   20.0  327.0     True
19  2009         Arizona CardinalsArizona   20.3  346.4     True
24  2009    New Orleans SaintsNew Orleans   21.3  357.8     True
26  2009    Tampa Bay BuccaneersTampa Bay   25.0  365.6     True

In [7]:
yearly_splits[1][0]

    year                              Team  Pts/G  Yds/G  Playoff
0   2009              New York JetsNY Jets   14.8  252.3    False
5   2009        Minnesota VikingsMinnesota   19.5  305.5    False
6   2009              Denver BroncosDenver   20.2  315.0    False
7   2009         Carolina PanthersCarolina   19.2  315.8    False
10  2009   New England PatriotsNew England   17.8  320.2    False
12  2009             Houston TexansHouston   20.8  324.9    False
14  2009  San Francisco 49ersSan Francisco   17.6  326.4    False
16  2009              Chicago BearsChicago   23.4  337.8    False
17  2009    Indianapolis ColtsIndianapolis   19.2  339.2    False
18  2009              Buffalo BillsBuffalo   20.4  340.6    False
20  2009            Atlanta FalconsAtlanta   20.3  348.9    False
21  2009               Miami DolphinsMiami   24.4  349.3    False
22  2009  Jacksonville JaguarsJacksonville   23.8  352.3    False
23  2009           Seattle SeahawksSeattle   24.4  356.4    False
25  2009            Oakland RaidersOakland   23.7  361.9    False
27  2009         Tennessee TitansTennessee   25.1  365.6    False
28  2009           St. Louis RamsSt. Louis   27.2  372.8    False
29  2009     Kansas City ChiefsKansas City   26.5  388.2    False
30  2009         Cleveland BrownsCleveland   23.4  389.3    False
31  2009              Detroit LionsDetroit   30.9  392.1    False

In [9]:
Yes_playoffs_df = pd.concat(yearly_splits[0][:])

In [10]:
No_playoffs_df = pd.concat(yearly_splits[1][:])

In [13]:
Yes_playoffs_df.tail(10)

    year                             Team  Pts/G  Yds/G  Playoff
2   2019             Buffalo BillsBuffalo   16.2  298.2     True
3   2019        Baltimore RavensBaltimore   17.6  300.6     True
9   2019  Philadelphia EaglesPhiladelphia   22.1  331.7     True
10  2019    New Orleans SaintsNew Orleans   21.3  333.1     True
13  2019       Minnesota VikingsMinnesota   18.9  341.6     True
16  2019    Kansas City ChiefsKansas City   19.2  349.6     True
17  2019       Green Bay PackersGreen Bay   19.6  352.6     True
20  2019        Tennessee TitansTennessee   20.7  359.5     True
25  2019          Seattle SeahawksSeattle   24.9  381.6     True
27  2019            Houston TexansHouston   24.1  388.3     True

In [14]:
No_playoffs_df.tail(10)

    year                              Team  Pts/G  Yds/G  Playoff
19  2019            Atlanta FalconsAtlanta   24.9  355.8    False
21  2019         Cleveland BrownsCleveland   24.6  361.6    False
22  2019         Carolina PanthersCarolina   29.4  374.5    False
23  2019  Jacksonville JaguarsJacksonville   24.8  375.4    False
24  2019          New York GiantsNY Giants   28.2  377.3    False
26  2019     Washington RedskinsWashington   27.2  385.1    False
28  2019      Cincinnati BengalsCincinnati   26.2  393.7    False
29  2019               Miami DolphinsMiami   30.9  397.8    False
30  2019              Detroit LionsDetroit   26.4  400.4    False
31  2019          Arizona CardinalsArizona   27.6  402.0    False

In [21]:
No_playoffs_df['Pts/G'].describe()

count    220.000000
mean      23.946364
std        3.214513
min       14.800000
25%       21.575000
50%       23.900000
75%       26.525000
max       30.900000
Name: Pts/G, dtype: float64

In [22]:
Yes_playoffs_df['Pts/G'].describe()

count    132.000000
mean      20.194697
std        2.880238
min       14.100000
25%       18.350000
50%       20.200000
75%       21.925000
max       26.800000
Name: Pts/G, dtype: float64

In [23]:
No_playoffs_df['Yds/G'].describe()

count    220.000000
mean     351.632273
std       28.466120
min      252.300000
25%      333.000000
50%      350.100000
75%      373.050000
max      440.100000
Name: Yds/G, dtype: float64

In [24]:
Yes_playoffs_df['Yds/G'].describe()

count    132.000000
mean     334.923485
std       32.044430
min      267.100000
25%      307.875000
50%      338.150000
75%      359.150000
max      411.600000
Name: Yds/G, dtype: float64