In [1]:
import pandas as pd
import numpy as np

In [2]:
year_lst = list(range(2009, 2020))

In [3]:
csv_lst = []
for num in year_lst:
    csv_lst.append('data/{}_Update.csv'.format(num))
csv_lst

['data/2009_Update.csv',
 'data/2010_Update.csv',
 'data/2011_Update.csv',
 'data/2012_Update.csv',
 'data/2013_Update.csv',
 'data/2014_Update.csv',
 'data/2015_Update.csv',
 'data/2016_Update.csv',
 'data/2017_Update.csv',
 'data/2018_Update.csv',
 'data/2019_Update.csv']

In [4]:
def split_playoff_tables(lst):
    no_playoff = []
    playoff = []
    for i in lst:
        df = pd.read_csv(i)
        filtered = df[['year', 'Team', 'Pts/G', 'Yds/G', 'Playoff']]
        playoff_tb = filtered.loc[lambda filtered: filtered['Playoff'] == True]
        no_playoff_tb = filtered.loc[lambda filtered: filtered['Playoff'] == False]
        playoff.append(playoff_tb)
        no_playoff.append(no_playoff_tb)
    return playoff, no_playoff

In [5]:
yearly_splits = split_playoff_tables(csv_lst)

In [6]:
yearly_splits[0][0]

    year                             Team  Pts/G  Yds/G  Playoff
1   2009       Green Bay PackersGreen Bay   18.6  284.4     True
2   2009        Baltimore RavensBaltimore   16.3  300.5     True
3   2009     Cincinnati BengalsCincinnati   18.2  301.4     True
4   2009    Pittsburgh SteelersPittsburgh   20.2  305.3     True
8   2009             Dallas CowboysDallas   15.6  315.9     True
9   2009    Washington RedskinsWashington   21.0  319.7     True
11  2009  Philadelphia EaglesPhiladelphia   21.1  321.1     True
13  2009         New York GiantsNY Giants   26.7  324.9     True
15  2009      San Diego ChargersSan Diego   20.0  327.0     True
19  2009         Arizona CardinalsArizona   20.3  346.4     True
24  2009    New Orleans SaintsNew Orleans   21.3  357.8     True
26  2009    Tampa Bay BuccaneersTampa Bay   25.0  365.6     True

In [7]:
yearly_splits[1][0]

    year                              Team  Pts/G  Yds/G  Playoff
0   2009              New York JetsNY Jets   14.8  252.3    False
5   2009        Minnesota VikingsMinnesota   19.5  305.5    False
6   2009              Denver BroncosDenver   20.2  315.0    False
7   2009         Carolina PanthersCarolina   19.2  315.8    False
10  2009   New England PatriotsNew England   17.8  320.2    False
12  2009             Houston TexansHouston   20.8  324.9    False
14  2009  San Francisco 49ersSan Francisco   17.6  326.4    False
16  2009              Chicago BearsChicago   23.4  337.8    False
17  2009    Indianapolis ColtsIndianapolis   19.2  339.2    False
18  2009              Buffalo BillsBuffalo   20.4  340.6    False
20  2009            Atlanta FalconsAtlanta   20.3  348.9    False
21  2009               Miami DolphinsMiami   24.4  349.3    False
22  2009  Jacksonville JaguarsJacksonville   23.8  352.3    False
23  2009           Seattle SeahawksSeattle   24.4  356.4    False
25  2009            Oakland RaidersOakland   23.7  361.9    False
27  2009         Tennessee TitansTennessee   25.1  365.6    False
28  2009           St. Louis RamsSt. Louis   27.2  372.8    False
29  2009     Kansas City ChiefsKansas City   26.5  388.2    False
30  2009         Cleveland BrownsCleveland   23.4  389.3    False
31  2009              Detroit LionsDetroit   30.9  392.1    False

In [8]:
Yes_playoffs_df = pd.concat(yearly_splits[0][:])

In [9]:
No_playoffs_df = pd.concat(yearly_splits[1][:])

In [10]:
Yes_playoffs_df

    year                           Team  Pts/G  Yds/G  Playoff
1   2009     Green Bay PackersGreen Bay   18.6  284.4     True
2   2009      Baltimore RavensBaltimore   16.3  300.5     True
3   2009   Cincinnati BengalsCincinnati   18.2  301.4     True
4   2009  Pittsburgh SteelersPittsburgh   20.2  305.3     True
8   2009           Dallas CowboysDallas   15.6  315.9     True
..   ...                            ...    ...    ...      ...
16  2019  Kansas City ChiefsKansas City   19.2  349.6     True
17  2019     Green Bay PackersGreen Bay   19.6  352.6     True
20  2019      Tennessee TitansTennessee   20.7  359.5     True
25  2019        Seattle SeahawksSeattle   24.9  381.6     True
27  2019          Houston TexansHouston   24.1  388.3     True

[132 rows x 5 columns]

In [11]:
No_playoffs_df

    year                             Team  Pts/G  Yds/G  Playoff
0   2009             New York JetsNY Jets   14.8  252.3    False
5   2009       Minnesota VikingsMinnesota   19.5  305.5    False
6   2009             Denver BroncosDenver   20.2  315.0    False
7   2009        Carolina PanthersCarolina   19.2  315.8    False
10  2009  New England PatriotsNew England   17.8  320.2    False
..   ...                              ...    ...    ...      ...
26  2019    Washington RedskinsWashington   27.2  385.1    False
28  2019     Cincinnati BengalsCincinnati   26.2  393.7    False
29  2019              Miami DolphinsMiami   30.9  397.8    False
30  2019             Detroit LionsDetroit   26.4  400.4    False
31  2019         Arizona CardinalsArizona   27.6  402.0    False

[220 rows x 5 columns]

In [12]:
yes_overall_df_yds = pd.DataFrame(Yes_playoffs_df['Yds/G'].describe())
yes_overall_df_pts = pd.DataFrame(Yes_playoffs_df['Pts/G'].describe())

In [13]:
yes_overall_df = pd.concat([yes_overall_df_yds, yes_overall_df_pts], axis=1,sort=False)

In [44]:
yes_overall_df = yes_overall_df.rename(columns={'Yds/G': 'Yds/G(Playoffs)', 'Pts/G':'Pts/G(Playoffs)'})
yes_overall_df = yes_overall_df.round(2)
yes_overall_df

       Yds/G(Playoffs)  Pts/G(Playoffs)
count           132.00           132.00
mean            334.92            20.19
std              32.04             2.88
min             267.10            14.10
25%             307.88            18.35
50%             338.15            20.20
75%             359.15            21.92
max             411.60            26.80

In [15]:
no_overall_df_yds = pd.DataFrame(No_playoffs_df['Yds/G'].describe())
no_overall_df_pts = pd.DataFrame(No_playoffs_df['Pts/G'].describe())
no_overall_df = pd.concat([no_overall_df_yds, no_overall_df_pts], axis=1,sort=False)

In [45]:
no_overall_df = no_overall_df.rename(columns={'Yds/G': 'Yds/G(No Playoffs)', 'Pts/G':'Pts/G(No Playoffs)'})
no_overall_df = no_overall_df.round(2)
no_overall_df

       Yds/G(No Playoffs)  Pts/G(No Playoffs)
count              220.00              220.00
mean               351.63               23.95
std                 28.47                3.21
min                252.30               14.80
25%                333.00               21.58
50%                350.10               23.90
75%                373.05               26.52
max                440.10               30.90

In [46]:
total_generic = pd.concat([yes_overall_df, no_overall_df], axis=1,sort=False)

In [47]:
total_generic

,Yds/G(Playoffs),Pts/G(Playoffs),Yds/G(No Playoffs),Pts/G(No Playoffs)
count,132.00,132.00,220.00,220.00
mean,334.92,20.19,351.63,23.95
std,32.04,2.88,28.47,3.21
min,267.10,14.10,252.30,14.80
25%,307.88,18.35,333.00,21.58
50%,338.15,20.20,350.10,23.90
75%,359.15,21.92,373.05,26.52
max,411.60,26.80,440.10,30.90

In [48]:
data1_yrds = Yes_playoffs_df['Yds/G']
data2_yrds = No_playoffs_df['Yds/G']
data1_pnts = Yes_playoffs_df['Pts/G']
data2_pnts = No_playoffs_df['Pts/G']

In [49]:
def welch_test(data_1, data_2):
    numerator = np.mean(data_1) - np.mean(data_2)
    denominator_sq = (np.var(data_1) / len(data_2)) + (np.var(data_2) / len(data_2))
    return numerator / np.sqrt(denominator_sq)

In [50]:
test_statistic_yrds = welch_test(data1_yrds, data2_yrds)
print("Welch Test Statistic based on avg_yards allowed: {:2.2f}".format(test_statistic_yrds))

Welch Test Statistic based on avg_yards allowed: -5.80

In [51]:
test_statistic_pnts = welch_test(data1_pnts, data2_pnts)
print("Welch Test Statistic based on avg_pnts allowed: {:2.2f}".format(test_statistic_pnts))

Welch Test Statistic based on avg_pnts allowed: -12.93